form {
    width: 400px;
}

label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

label > input {
    flex: 0 0 200px;
    margin-left: 20px;
}

input[type=checkbox] {
    flex: unset;
}

