<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="post" action="/login">
        <label>Username: <input type="text" name="username"></label><br>
        <label>Password: <input type="password" name="password"></label><br>
        <label>Ricordami: <input type="checkbox" name="remember"></label><br>
        <input type="submit" value="Login">
    </form>
    <a href="/register">Registrati</a>
    <a href="/reset-password">Reset password</a>
</body>
</html>
