<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>Reset Password</h1>
    <form method="post" action="/reset-password">
        <label>Email: <input type="email" name="email" required></label><br>
        <input type="submit" value="Reset Password">
    </form>
    <a href="/register">Sign up</a>
    <a href="/login">Login</a>
</body>

</html>
